<!doctype html>
<html>
<head>
  <title>Secret Page</title>
</head>
<body>
  <h1>This is the secret page.</h1>
  <h3>You found me!</h3>
  <img src="https://i.pinimg.com/236x/7a/20/fb/7a20fb6e96510bcf541d4adb360247ef--hair-removal-funny-things.jpg" alt="The embarassing page">
</body>
</html>
